<div class="container" data-ng-controller="SigninCtrl">

  <form class="form-signin login">
    <h2 class="form-signin-heading">Login To the Codex</h2>
    <input type="text" class="form-control myEmail" placeholder="Email address" ng-model="loginFormInfo.email" required autofocus>
    <input type="password" class="form-control myPassword" placeholder="Password" ng-model="loginFormInfo.password" required>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
      <a class="pull-right" ng-href="#/signup">New User</a>
    </label>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>

  </form>
   <!-- <p ng-show="err" class="error">{{err}}</p> -->
</div> <!-- /container -->
