   
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Codex</a>
        </div>
       
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-show="auth.user">{{auth.user.email}}</a></li> <!-- See Rachel About this ng-show get user to show -->
            <li><a href="#" ng-click="auth.$logout()">Log Out</a></li>
          </ul>
       
    </div>
</div>

<div id="bgHead">

<header class="container">

    <h3 class="pull-left myTitle">My Projects</h3>
    <a class="btn btn-primary btn-lg pull-right myButton" role="button" ng-href="#/addProject">+ Add Project</a>

</header>



<section class="container sub-nav">    
    <ul class="nav nav-justified nav-pills">
      <li ng-class="fictionActive"><a href="" ng-click="setActive('fiction')">Fiction</a></li>
      <li ng-class="essaysActive"><a href="" ng-click="setActive('essays')">Essays</a></li>
      <li ng-class="poetryActive"><a href="" ng-click="setActive('poetry')">Poetry</a></li>
    </ul>   
</section>

</div>

<article class="container">

    <div class="list-group row" ng-repeat="(id,project) in projects | toArray | filter:genreFilter">
            <div class="col-sm-8">
              <a href="{{project.link}}" class="list-group-item">
              <h2 class="list-group-item-heading">{{project.name}}</h2>
              <p class="list-group-item-text lead">{{project.genre}}</p>
              </a>
            </div>
        <a class="col-sm-4 btn btn-success myBtn" href="#/project/{{id}}">Edit</a>

    </div>

   
      
</article>