   
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Codex</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-show="auth.user">{{auth.user.email}}</a></li> <!-- See Rachel About this ng-show get user to show -->
            <li><a href="#" ng-click="auth.$logout()">Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<header class="container">

    <h1 class="pull-left">My Projects</h1>
    <a class="btn btn-primary btn-lg pull-right myButton" role="button" ng-href="#/addProject">+ Add Project</a>

</header>

<section class="container sub-nav">    
    <ul class="nav nav-justified nav-pills">
      <li class="active"><a href="#">Fiction</a></li>
      <li><a href="#">Essays</a></li>
      <li><a href="#">Poetry</a></li>
    </ul>   
</section>

<article class="container" ng-show="user.project">
    <!-- <div class="list-group col-md-3">
      <h2><a href="#" class="list-group-item active">
        Story1
      </a></h2>
      <h3><a href="#" class="list-group-item">Story2</a></h3>
      <h3><a href="#" class="list-group-item">Story3</a></h3>
      <h3><a href="#" class="list-group-item">Story4</a></h3>
      <h3><a href="#" class="list-group-item">Story5</a></h3>
    </div> -->


    <div class="list-group" ng-repeat="project in project">
        <a href="{{project.link}}" class="list-group-item active">
            <h2 class="list-group-item-heading">{{project.name}}</h2>
            <p class="list-group-item-text lead">{{project.genre}}</p>
        </a>
    </div>
    
       
</article>